.gallery-mini-heading {
  font-family: BlinkMacSystemFont !important;
  color: #c6b09a;
  text-transform: uppercase;
}
.gallery-container {
  padding: 240px 15% 90px 15%;
}
.gallery-img {
  margin-bottom: 28px !important;
}

.grid-row {
  margin-bottom: 28px !important;
}
