// font-family: BlinkMacSystemFont !important;
.service-container {
  padding: 240px 15% 90px 15%;
}
.services-mini-heading {
  font-family: BlinkMacSystemFont !important;
  color: #c6b09a;
  text-transform: uppercase;
  margin-bottom: 40px !important;
}
.heading {
  font-family: BlinkMacSystemFont !important;
  color: #403121;
  text-align: left;
  letter-spacing: 3px;
  font-weight: 200;
  text-transform: uppercase;
}
.about {
  font-family: BlinkMacSystemFont !important;
  font-size: 15px;
  color: #403121;
  margin: 0;
  font-weight: 200;
  line-height: 30px;
}
.grid-row {
  margin-bottom: 40px;
}
